.r {
    background: red;
}
.g {
    background: green;
}
.b {
    background: blue;
}

body, html {
    cursor: default;
}

#preloader {
    width: 100%;
    height: 100vh;
    background: #fff;
    // preloader visibility
    // width: 0%;
    // height: 0vh;
}

#all {
    width: 100%;
    min-height: 100vh;
    color: #fff;
}

.day {
    // background: #74ebd5;
    // background: linear-gradient(to right bottom, #ACB6E5, #74ebd5);
    background: rgb(79, 93, 138);
}
.night {
    // background: #0f0c29;
    // background: linear-gradient(to right bottom, #24243e, #302b63, #0f0c29);
    background: rgb(75, 56, 56);
}
.none {
    display: none;
}
.glassmorphism {
    background: rgba( 255, 255, 255, 0.25 );
    backdrop-filter: blur( 4px );
    border-radius: 10px;
    // border: 1px solid rgba( 255, 255, 255, 0.18 );
}
.myContainer {
    width: 94%;
    margin-left: 3%;
}

.current_temp {
    font-size: 25vw;
    &::after {
        content: "";
    }
}

.details {
    padding-top: 20px + 7px;
    padding-bottom: 20px;
}